.search-container {
    position: relative;
    height: 100%;

    input {
        position: absolute;

        z-index: 1;

        height: 100%;
        width: 100%;

        background-color: #2b2929;

        font-size: 4.5rem;
        font-family: 'Montserrat', sans-serif;

        text-align: center;
        text-decoration: none;

        border: none;

        /* removes the blinking cursor */
        color: transparent;
        text-shadow: 0 0 0 #FFFFFF;
        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #FFFFFF;
            text-decoration: none;
        }
    }

    button {
        position: absolute;

        z-index: 2;

        top: 1rem;
        left: 1rem;

        color: white;

        padding-left: 25px;

        text-align: center;

        background-color: transparent;
        border: none;

        vertical-align: middle;

        span {
            position: relative;
            svg {
                position: absolute;
                color: #FFFFFF;
                left: -25px;
                top: -50%;
            }
        }
    }
}